@import "tailwindcss";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

.button-login:before {
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 50px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.button-login:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 50px;
}

.button-title {
    --c: #fff;
    background:
        linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p, 100%) /
            300% no-repeat,
        transparent;
    color: #0000;
    border: none;
    transform: perspective(500px) rotateY(calc(20deg * var(--_i, -1)));
    text-shadow:
        calc(var(--_i, -1) * 0.08em) -0.01em 0 var(--c),
        calc(var(--_i, -1) * -0.08em) 0.01em 2px #0004;
    outline-offset: 0.1em;
    transition: 0.3s;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.button-title:before {
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
}

.button-title:hover,
.button-title:focus-visible {
    --_p: 0%;
    --_i: 1;
}

.button-title:active {
    text-shadow: none;
    color: var(--c);
    box-shadow: inset 0 0 9e9Q #0005;
    transition: 0s;
}

.button-title {
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    padding: 0.1em 0.3em;
}
